body {
    background: url(../photos/FON.png);
    background-repeat:no-repeat;
    background-position: center ;
    background-size: 100%;


}


    

body{
    margin-left: 20%;
    margin-right: 14%;
    margin-bottom: 1cm;
    background-attachment:fixed;
    font-size: 30px;
    
}


h1{
    text-align: center;
}

h2{
    text-align: center;
}
h3{
    text-align: center;
}
h4{ 
    text-align: center;
}
h5 {
    text-align: center;
}

a { 
    color:#000;
}
